body {
    font-family: Arial, Helvetica, sans-serif;  
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: black;
   
}
    
.post {
    background-color:white;
    width: 380px;       
}

.post-header{
    width: auto;  
    height: 30px;  
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}       
.icono-1{   
    display:flex;
    justify-content: left;
    font-size: 25px;
    
}
.header-text {
    display: flex;
    flex-direction:column;
    align-items:center;
    font-size: 10px;
    padding-left: 10px;
}

.header-text p {
    margin: 0;
}

.icono-2{
    font-size: 25px;
}

.post-img{
    width: auto;
    margin:0;
    display: flex;
    justify-content: center;
}

.post-img img {
    width: 380px;
    height: auto;
    border: 0;      
}

.icons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
    
}    
.post-icons-1 {
    width: auto;
    margin-right: auto;
    font-size: 25px;
   
    
}
.post-icons-2 {
    width: auto;
    margin-left: auto;
    font-size: 25px;
       
}
        

.post-body {
    width: auto;
    font-size: 14px;
    margin:auto;
    padding: 10px
}
